*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
*.log
*.db
*.json
*.pt
*.tar.gz
.DS_Store
.cache
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
.idea/
.idea_modules/
.project
.pydevproject
.scala_dependencies
.settings
hs_err*.log
target
/home/rishic/spark-rapids-examples/examples/ML+DL-Examples/Spark-DL/dl_inference/pytriton
/home/rishic/spark-rapids-examples/examples/ML+DL-Examples/Spark-DL/dl_inference/huggingface/archive